.up {
    background: #fef051;
    background-image: -webkit-linear-gradient(top, #fef051, #b8ab16);
    background-image: -moz-linear-gradient(top, #fef051, #b8ab16);
    background-image: -ms-linear-gradient(top, #fef051, #b8ab16);
    background-image: -o-linear-gradient(top, #fef051, #b8ab16);
    background-image: linear-gradient(to bottom, #fef051, #b8ab16);
    display:none;
    padding:20px;
    font-size:20px;
    color:black;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:5px;
    z-index: 100;
    border: 1px solid white;
    opacity: .6;
}

.up:hover{
    opacity: 1;
}

.index-header{
    width: 100%;
    position: fixed;
    z-index: 1;
}

.img-header{
    width: 100%;
}

.log-in{
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    padding: 25px;
    border: 1px solid black;
    left: 45%;
    top: 10px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, 0%);
    margin-top: 10px;
}

a{
    color: black;
}
a:visited {
    color: black;
}

a:hover{
    color: black;
}

.video{
    width: 100%;
    text-align: center;
}

.video > iframe{
    width: 100%;
    min-height: 500px;
}

.register-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
    url(../img/register-container.png);
    background-size: cover;
    padding-top: 10%;
    width: 100%;
}

.register{
    background: #F2F2F2;
    border-radius: 4px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px 20px 10px;
}

.caption{
    padding: 20px 20px 20px 20px;
    color: white;
    text-align: justify;
}

.input-text{
    border: 1px solid rgb(169, 169, 169);
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 1px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: white;
    border-radius: 4px;
    height: 28px;
}

.input-text[readonly] {
    color: #868E96;
}

.input-text:focus{
    outline:0px;
    border:1px solid #f4b916;
}

.input-text:disabled, .select:disabled {
    color: #868E96;
    cursor: text;
}

.input-title {
    position: absolute;
    left: 15px;
    top: 15px;
    color: #868E96;
    pointer-events: none;
    padding: 0 10px;
    text-align: left;
}

.input-title-top {
   top: 1px;
   font-size: 10px;
   font-weight: bold;
   color: black;
}

.double-top {
   top: -15px;
}

.input-container {
    margin: 14px 0px;
}

.select{
    border-radius: 4px;
    width: 100%;
    height: 28px;
}

.select:focus{
    outline:0px;
    border:1px solid #f4b916;
}

.select > option:first-child{
    display: none;
}

.chekbox{
    margin-right: 10px;
}

.btn {
    background: #fef051;
    background-image: -webkit-linear-gradient(top, #fef051, #b8ab16);
    background-image: -moz-linear-gradient(top, #fef051, #b8ab16);
    background-image: -ms-linear-gradient(top, #fef051, #b8ab16);
    background-image: -o-linear-gradient(top, #fef051, #b8ab16);
    background-image: linear-gradient(to bottom, #fef051, #b8ab16);
    border: none;
    border-bottom: 1px solid #D8D8D8;
    border-radius: 0px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #000000!important;
    text-decoration: none;
    display: block;
    position: relative;
    text-decoration: none;
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    color: #fff;
    background-color: #f74d05;
    border-color: #e44705!important;
}



.container-row{
    padding-right: 15px;
    padding-left: 15px;
}


.ad{
    text-align: center;
    padding: 20px;
}

.ad div > div > h1{
    color: #BA0000;
}

.ad div > div > img{
    max-width: 200px;
}

.ad > div > div > p{
    text-align: justify;
}

.link{
    font-weight: bold;
}

.link:hover{
    color:#f4b916;
}

.icon-on-input{
    position: absolute;
    top: 15px;
    right: 16px;
    background: #E9ECEF;
    border-radius: 0 4px 4px 0;
    padding: 4px;
    color: #495057;
    border: 1px solid #ced4da;
    cursor: pointer;
}

.button-react{
    background: linear-gradient(rgb(237, 0, 0), rgb(184, 0, 0));
    font-family: Roboto;
    border-radius: 12px;
    width: 100%;
    text-align: center;
    padding: 12px;
    margin: 10px 0 10px 0; 
}

.button-react:hover{
    background: rgb(184, 0, 0);
    cursor: pointer;
}

.button-react > span{
    text-decoration: none;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.extra{
    color: white;
    font-size: 20px;
}

.extra > div > div > div > a{
    color:white;
    font-size: 15px;
}

.address-process{
    position: absolute;
    z-index: 1;
    font-size: 30px;
    padding-top: 20px;
    color: #8b8d8e;
    left: 50%;
    top: 41%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, 0%);
    display: none;
}

.input-error-message{
    color: red;
    font-size: 10px;
    width: 100%;
    text-align: left;
}

.input-error{
    border: 1px solid red;
}

.error-result{
    background-color: #FFEDED;
    border: 1px dashed #FA206A;
    color: #FA206A;
    margin-bottom: 10px;
    font-weight: bold;
}

.success-result{
    background-color: #E9FCFA;
    border: 1px dashed #12ea4f;
    color: #00B58E;
    margin-bottom: 10px;
    font-weight: bold;
}

.process-result{
    color: #bfbfbf;
    margin-bottom: 10px;
    font-weight: bold;
}

.exit{
    float: right;
    cursor: pointer;
    margin-right: 5px;
}

.fa-exclamation-circle, .fa-check-circle, .fa-pulse{
    margin-right: 5px;
}

.exit:hover{
    text-shadow: 1px 1px #000000;
}

.result{
    text-align: left;
    padding-left: 10px;
}

.congratulations{
    text-align: center;
    font-size: 25px;
}

.warning-result{
    background-color: #fcfca9;
    border: 1px dashed #f7a002;
    color: #f7a002;
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 10px;
}

.title{
    text-align: right;
    width: 100%;
    border-bottom: 1px solid #e44705;
    margin-bottom: 10px;
    color: #e8d820;
    text-shadow: 2px 2px black;
    /*background-image: -webkit-linear-gradient(top, #fef051, #b8ab16);
    background-image: -moz-linear-gradient(top, #fef051, #b8ab16);
    background-image: -ms-linear-gradient(top, #fef051, #b8ab16);
    background-image: -o-linear-gradient(top, #fef051, #b8ab16);
    background-image: linear-gradient(to bottom, #fef051, #b8ab16);
    -webkit-background-clip: text;
    color: transparent;*/

}

.well {
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
    padding: 5px 5px 1px 5px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #fef051, #b8ab16);
    background-image: -moz-linear-gradient(top, #fef051, #b8ab16);
    background-image: -ms-linear-gradient(top, #fef051, #b8ab16);
    background-image: -o-linear-gradient(top, #fef051, #b8ab16);
    background-image: linear-gradient(to bottom, #fef051, #b8ab16);
}

.title > h1, h2,h3,h4,h5,h6{
    font-weight: bold;
}

.fa-angle-double-down{
    font-size: 20px;
    font-weight: bold;
}

.card-header{
    background-image: -webkit-linear-gradient(top, #e44705, #ff0000);
    background-image: -moz-linear-gradient(top, #e44705, #ff0000);
    background-image: -ms-linear-gradient(top, #e44705, #ff0000);
    background-image: -o-linear-gradient(top, #e44705, #ff0000);
    background-image: linear-gradient(to bottom, #e44705, #ff0000);
    padding: 10px 20px 5px 20px;
}

.card-title:hover{
    cursor: pointer;
    text-decoration-line: none;
    color: white;
}

.card-title{
    font-weight: bold;
    color: black;
}

.card-title-select{
    color: white;
}

.input-file::-webkit-file-upload-button {
  display: none;
}

.input-file{
    color: transparent;
    background-image: -webkit-linear-gradient(top, #fef051, #b8ab16);
    background-image: -moz-linear-gradient(top, #fef051, #b8ab16);
    background-image: -ms-linear-gradient(top, #fef051, #b8ab16);
    background-image: -o-linear-gradient(top, #fef051, #b8ab16);
    background-image: linear-gradient(to bottom, #fef051, #b8ab16);
    border-radius: 4px;
    padding: 5px 8px;
    -webkit-user-select: none;
    cursor: pointer;
    border: 1px solid #999;
    width: 100%;
}

.input-file::before {
    font-family: FontAwesome;
    content: "\f07c";
    color: black;
    margin-right: 5px;
    font-size: 15px;

}
.input-file::after {
    content: attr(title);
    color: black;
    font-size: 15px;
}

.input-file:hover{
    border-bottom: 1px solid #f74d05;
}
.input-file:focus {
  outline: none;
}

.documents-file{
    border: 1px solid #999;
    border-radius: 0 0 4px 4px;
    padding: 5px;
}

.documents-file > img{
    width: 100%;
}

.documents-file > embed{
    width: 100%;
    min-height: 400px;
}

.sub-nav:hover{
    font-weight: bold;
}

.sidenav-second-level > li > a {
    padding-left: 20px!important;
    font-size:13px;
}

textarea{
    height: 70px!important;
}

.modal-lg {
    max-width: 100%;
    padding: 0 20px 0 20px;
}

.video{
    width: 100%;
}


.btn-toolbar{
    width: 80px;
}

.color-none{
    background: none;
}

.group-checks{
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    padding: 10px;
}



/* desktop big */
@media(min-width: 1000px) and (max-width: 1200px){
    .log-in{
        padding: 20px;
        top: 5px;
    }
}

/*desktop small */
@media(min-width: 730px) and (max-width:1000px) {
    .up {
        padding:15px;
        bottom:15px;
        right:5px;
        font-size: 15px;
    }
    .log-in{
        padding: 15px;
        top: 0;
    }
    .video > iframe{
        width: 100%;
        min-height: 400px;
    }
}
/* tablet landscape */
@media(min-width: 600px) and (max-width: 730px){
    .up {
        padding:10px;
        bottom:10px;
        right:3px;
        font-size: 10px;
    }
    .log-in{
        padding: 10px;
        top: 0;
    }
    .video > iframe{
        width: 100%;
        min-height: 300px;
    }
}

/* mobile landscape and tablet */
@media(min-width: 450px) and (max-width: 600px){
    .up {
        padding:10px;
        bottom:10px;
        right:3px;
        font-size: 10px;
    }
    .log-in{
        padding: 5px;
        top: 0px;
        font-size: 10px;
    }
    .caption > h2{
        font-size: 20px;
    }
    .ad div > div > h1{
        font-size: 25px;
    }
    .ad div > div > img {
        max-width: 150px;
    }
    .button-react{
        padding: 10px;
    }
    .video > iframe{
        width: 100%;
        min-height: 200px;
    }
}

/* Mobile */
@media(min-width: 320px) and (max-width: 450px){
    .up {
        padding:10px;
        bottom:10px;
        right:3px;
        font-size: 10px;
    }
    .log-in{
        padding: 3px;
        top: -5px;
        font-size: 10px;
    }
    .caption > h2{
        font-size: 25px;
    }
    .caption > p{
        font-size: 15px;
    }

    .ad div > div > h1{
        font-size: 25px;
    }
    .ad div > div > img {
        max-width: 100px;
    }
    .button-react{
        padding: 5px;
    }
    .title >h1,h2,h3,h4,h5{
        font-size: 20px;
    }
    .title{
        text-shadow: 1px 1px black;
    }
    .video > iframe{
        width: 100%;
        min-height: 200px;
    }
}

/* Mobile small */
@media(max-width: 320px){
    .up {
        padding:10px;
        bottom:10px;
        right:3px;
        font-size: 10px;
    }

    .log-in{
        padding: 3px;
        top: -6px;
        font-size: 8px;
    }
    .caption > h2{
        font-size: 15px;
    }
    .caption > p{
        font-size: 10px;
    }

    .ad div > div > h1{
        font-size: 25px;
    }

    .ad div > div > img {
        max-width: 100px;
    }

    .button-react{
        padding: 5px;
    }

    select > option{
        font-size: 12px;
    }

    select{
        font-size: 12px;
    }

    .input-title{
        font-size: 15px;
        top:15px;
    }

    .input-title-top {
       top: 1px;
       font-size: 10px;
       font-weight: bold;
       color: black;
    }

    .address-process{
        font-size: 20px;
    }

    .title >h1,h2,h3,h4,h5{
        font-size: 15px;
    }

    .title{
        text-shadow: 1px 1px black;
    }

    .video > iframe{
        width: 100%;
        min-height: 100px;
    }
    
}